.btn {
	margin: 10px 10px 10px 0;
	position: relative;

	&:focus,
	&:active,
	&:not([disabled]):not(.disabled):active {
		box-shadow: none !important;
	}

	&:hover {
		cursor: pointer;
	}

	&[disabled]:hover {
		cursor: not-allowed;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}

	.badge {
		position: absolute;
		bottom: -5px;
		right: -5px;
		z-index: 10;
		top: auto;
		height: 19px;
	}
}

.btn-link {
	background: none;
	border: none;
	color: $white;
}

.btn-link:hover,
.btn-link:focus {
	color: rgba(255, 255, 255, 0.8);
	outline: none;
}

.btn-lg {
	padding: 1rem;
}

.btn-dark {
	background-color: black;
	color: white;
}

.btn-plate {
	border-radius: 50%;
}

.kilos {
	.weight-pounds {
		display: none;
	}

	.unit-pounds {
		.unit-selected {
			display: none;
		}
	}

	.total-weight-pounds {
		display: none;
	}
}

.pounds {
	.weight-kilos {
		display: none;
	}

	.unit-kilos {
		.unit-selected {
			display: none;
		}
	}

	.total-weight-kilos {
		display: none;
	}
}
